<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%= actor.first_name %> <%= actor.last_name %> </h1>
    <ul>
        <li>Rating: <%= actor.rating %></li>
    </ul>
    <form action="/actors/detail/<%= actor.id %>/edit" method="GET">
        <button type='submit'>MODIFICAR</button>
    </form>
    <form action="/actor/detail/<%= actor.id %>/delete?_method=DELETE" method="POST">
        <button type='submit'>BORRAR</button>
    </form>
</body>

</html>